<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
    <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            :host {
                display: block;
             }
        </style>
        <div class="container">
            <div class="row">
              <h1 class="col-lg-12">Gestor de Clientes</h1>
            </div>
            <div class="row">
              <button type="button" name="button" class="btn btn-success" on-click="obtenerClientes">Obtener Clientes</button>
              <button type="button" name="button" class="btn btn-success" on-click="obtenerClientesMlab">Obtener Clientes Mlab</button>
            </div>
            <div class="row" hidden$="{{hideClientes}}">
              <table class="table table-light">
                <tbody>
                  <template is="dom-repeat" items="{{Clientes}}">
                    <tr>
                      <td>[[item.CustomerID]]</td>
                      <td>[[item.ContactName]]</td>
                      <td>[[item.CompanyName]]</td>
                    </tr>

                  </template>
                </tbody>
              </table>
            </div>

            <div class="row" hidden$="{{hideClientesMlab}}">
              <table class="table table-light">
                <tbody>
                  <template is="dom-repeat" items="{{ClientesMlab}}">
                    <tr>
                      <td>[[item.idCliente]]</td>
                      <td>[[item.nombre]]</td>
                      <td>[[item.apellido]]</td>
                    </tr>

                  </template>
                </tbody>
              </table>
            </div>

        </div>
    </template>
    <script>
        class GestorClientes extends Polymer.Element {
            static get is() {return 'gestor-clientes';}
            static get properties() {
              return {
                Clientes: {
                  type: Array,
                  notify: true
                },
                ClientesMlab: {
                  type: Array,
                  notify: true
                },
                hideClientes:{
                  type: Boolean,
                  value: true
                },
                hideClientesMlab:{
                  type: Boolean,
                  value: true
                }
              };
            }
            obtenerClientes(){
              var request = new XMLHttpRequest();
              request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
              request.setRequestHeader("Accept","application/json");
              request.send();

              this.Clientes = JSON.parse(request.responseText).value;
              this.hideClientes=false;
              this.hideClientesMlab=true;
              console.log(this.Clientes);
            }
            obtenerClientesMlab(){
              var request = new XMLHttpRequest();
              request.open("GET","http://localhost:3002/ClientesMlab",false);
              request.setRequestHeader("Accept","application/json");
              request.send();

              // Se quita value ya que el resultado ya viene en el response
              this.ClientesMlab = JSON.parse(request.responseText)//.value;
              this.hideClientes=true;
              this.hideClientesMlab=false;
              console.log(this.ClientesMlab);
            }
      }

        window.customElements.define(GestorClientes.is, GestorClientes);
    </script>
</dom-module>
