<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Origin: *

<dom-module id="login-app">
    <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            :host {
                display: block;
             }
        </style>
        <div class="container">
            <div class="row">
                <h1>INGRESO A LA APLICACIÓN</h1>
            </div>
            <div class="row">
              <h3>Email: </h3> <input type="email" value="{{email::input}}">
            </div>
            <div class="row">
              <h3>Password: </h3> <input type="password" value="{{password::input}}">
            </div>
            <div class="row">
              <button on-click="login"type="button" name="button" class="btn btn-success">Ingresar</button>
            </div>
            <div class="row" hidden$={{!logeado}}>
              <span>Bienvenido a la aplicación</span>
            </div>

        </div>

        <iron-ajax
            id="doLogin"
            url="http://localhost:3000/login"
            content-type="application/json"
            crossDomain: true
            dataType:'jsonp'
            method="POST"
            handle-as="json"
            headers="Acces-Control-Allow-Headers: *"
            on-response="manageAJAXResponse"
            on-error="showError">
        </iron-ajax>


    </template>
    <script>
        class LoginApp extends Polymer.Element {
            static get is() {return 'login-app';}
            static get properties() {
              return {
                email: {
                  type: String,
                },
                password: {
                  type: String,
                },
                logeado: {
                  type: Boolean,
                  value: false
                }
              };
            }

            login() {
              var loginData= {"email":this.email, "password":this.password};
              console.log(loginData);
              this.$.doLogin.body=JSON.stringify(loginData);
              this.$.doLogin.generateRequest();

              console.log("Peticion enviada");
              }

              manageAJAXResponse(data) {
                console.log("Respuesta recibida del servidor");
                console.log(data.detail.response);
                this.logeado=true;
              }

              showError(error) {
                console.log("Se presento un error");
                alert("Datos incorrectos");
                this.logeado=false;
                console.log(error);
              }
      }

        window.customElements.define(LoginApp.is, LoginApp);
    </script>
</dom-module>
